.catalog-link {
  width: 100%;
  margin-top: min(1.7rem, 25px);
  padding-top: min(1.1rem, 18px);
  padding-bottom: min(0.9rem, 15px);
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    margin-top: 3.2rem;
    padding: clamp(10px, 1rem, 15px) min(4.5rem, 71px);
    font-size: clamp(16px, 1.6rem, 20px);
    line-height: clamp(18px, 2rem, 24px);
    align-self: end;
  }

  @media (min-width: $desktop) {
    margin-top: clamp(32px, 3.2rem, 45px);
    padding: clamp(10px, 1rem, 15px) clamp(38px, 4.5rem, 71px);
    font-size: clamp(16px, 1.6rem, 24px);
    line-height: clamp(20px, 2rem, 29px);
  }
}
