.program {
  display: grid;
  grid-template-columns: min(6.9rem, 120px) 1fr;
  align-items: start;
  padding: 2.1rem 2rem 1.8rem;
  background-color: $color-secondary;

  @media (min-width: 640px) {
    grid-template-columns: max(38.2rem) auto;
    grid-auto-flow: dense;
  }

  @media (min-width: $tablet) and (max-width: 1023px) {
    grid-template-columns: max(325px, 39.3rem) auto;
  }

  @media (min-width: $desktop) {
    grid-template-columns: clamp(128px, 16.2rem, 264px) 1fr;
  }

  &--slim {
    @media (min-width: $tablet) and (max-width: 1023px) {
      padding: min(7.7rem, 92px) min(6.3rem, 75px) min(5.8rem, 69px) min(5.2rem, 62px);
    }

    @media (min-width: $desktop) {
      padding: clamp(38px, 4.1rem, 55px) clamp(42px, 6.1rem, 82px) clamp(46px, 5.8rem, 78px) clamp(46px, 5.2rem, 70px);
    }
  }

  &--pro {
    padding-top: 2.4rem;

    @media (min-width: $tablet) and (max-width: 1023px) {
      padding: min(7.7rem, 92px) min(2.9rem, 34px) min(5.8rem, 69px) min(5.2rem, 62px);
    }

    @media (min-width: $desktop) {
      padding: clamp(41px, 4.7rem, 63px) clamp(42px, 6.1rem, 82px) clamp(46px, 5.8rem, 78px) clamp(46px, 5.2rem, 70px);
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    grid-column: 1 / 2;
    background-color: $color-primary;
    border-radius: 50%;
    width: min(5rem, 85px);
    height: min(5.3rem, 90px);

    @media (min-width: $tablet) and (max-width: 1023px) {
      width: min(20rem, 278px);
      height: min(21.1rem, 293px);
      grid-column: 2 / -1;
      grid-row: span 3;
    }

    @media (min-width: $desktop) {
      margin: 0;
      width: clamp(94px, 10rem, 151px);
      height: clamp(100px, 10.6rem, 160px);
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--slim::after {
    width: min(5rem, 85px);
    height: min(5.3rem, 90px);
    background-image: url("../../icons/stack.svg#index_cat-slim-mobile");

    @media (min-width: $tablet) {
      width: min(20rem, 278px);
      height: min(21.1rem, 293px);
      background-image: url("../../icons/stack.svg#index_cat-slim-tablet");
    }

    @media (min-width: $desktop) {
      margin: 0;
      width: clamp(94px, 10rem, 151px);
      height: clamp(100px, 10.6rem, 160px);
      background-image: url("../../icons/stack.svg#index_cat-slim-desktop");
    }
  }

  &--pro::after {
    width: min(6.7rem, 114px);
    height: min(5rem, 85px);
    margin-left: -7px;
    background-image: url("../../icons/stack.svg#index_cat-pro-mobile");

    @media (min-width: $tablet) {
      margin-left: -34px;
      margin-top: 14px;
      width: min(26.8rem, 372px);
      height: min(20rem, 278px);
      background-image: url("../../icons/stack.svg#index_cat-pro-tablet");
    }

    @media (min-width: $desktop) {
      margin: 0;
      margin-left: -19px;
      width: clamp(128px, 13.4rem, 202px);
      height: clamp(96px, 10rem, 151px);
      background-image: url("../../icons/stack.svg#index_cat-pro-desktop");
    }
  }
}

.program--pro .program__title {
  @media (min-width: $desktop) {
    padding-top: 30px;
  }
}

.program__title {
  margin: 0;
  padding-top: 0.8rem;
  grid-column: 2 / -1;
  font-size: min(2.4rem, 34px);
  line-height: min(3.7rem, 52px);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: clamp(20px, 2.4rem, 32px);
    padding: 0;
    grid-column: 1 / 2;
    font-size: clamp(24px, 3.6rem, 46px);
    line-height: clamp(24px, 3.6rem, 46px);
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding-top: clamp(36px, 3.6rem, 42px);
    grid-column: 2 / -1;
    font-size: clamp(26px, 3.6rem, 46px);
    line-height: clamp(26px, 3.6rem, 46px);
  }
}

.program__description {
  margin: 0;
  margin-bottom: min(2.3rem, 36px);
  padding-top: min(2.2rem, 38px);
  grid-column: 1 / -1;
  font-family: $font-secondary;
  font-size: min(1.4rem, 18px);
  line-height: min(1.8rem, 23px);
  font-weight: 400;
  color: $text-secondary;

  @media (min-width: $tablet) {
    margin-bottom: clamp(35px, 3.9rem, 40px);
    padding: 0;
    max-width: min(34rem, 100%);
    grid-column: 1 / 2;
    font-size: clamp(14px, 1.6rem, 20px);
    line-height: clamp(22px, 2.4rem, 30px);
  }

  @media (min-width: $desktop) {
    max-width: 100%;
    margin-bottom: clamp(24px, 2.9rem, 30px);
    padding-top: clamp(32px, 3.9rem, 45px);
    grid-column: 1 / -1;
    font-size: clamp(16px, 1.6rem, 20px);
    line-height: clamp(24px, 2.4rem, 30px);
  }
}

.program__link {
  padding: 0.4rem 0;
  padding-top: min(1.8rem, 30px);
  grid-column: 1 / -1;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: min(1.6rem, 22px);
  line-height: min(1.6rem, 22px);
  color: $text-primary;
  text-decoration: none;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;

  &::after {
    content: "";
    display: block;
    width: clamp(32px, 3.2rem, 42px);
    height: clamp(10px, 1rem, 12px);
    mask: url("../../icons/stack.svg#index_icon-arrow-24") no-repeat center;
    background-color: $text-primary;
    transition: all 0.5s;
  }

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    gap: min(2.5rem, 25px);
    font-size: clamp(18px, 2rem, 27px);
    line-height: clamp(18px, 2rem, 27px);
    border: none;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / -1;
    gap: 25px;
    padding: max(0.4rem, 4px) 0;
    font-size: clamp(18px, 2rem, 27px);
    line-height: clamp(18px, 2rem, 27px);
  }

  &:hover::after,
  &:focus::after {
    margin-left: 0.5rem;
    transform: scaleX(1.3);
    transition: all 0.4s;
  }

  &:focus-visible {
    outline: 2px solid #444444;
  }

  &:active {
    opacity: 0.3;
  }
}
