.site-list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  text-align: center;

  &--closed {
    display: none;
  }

  /* //как лучше реализовать?
&--closed {
    background-image: url("../../icons/stack.svg#mobile_close-button-mobile");
    background-size: min(1.8rem, 30px) min(1.8rem, 30px);
    background-position: center;
  } */

  /* @media (min-width: $tablet) {
    display: none;
  } */

  @media (max-width: $mobile) {
    background-color: #ffffff;
  }

  &--nojs {
    @media (max-width: $mobile) {
      display: block;
      width: 100%;
      position: static;
    }
  }

  @media (min-width: $tablet) {
    padding-right: 4px;
    display: flex;
    flex-flow: row wrap;
    gap: min(3.4rem, 34px);
    justify-content: end;
  }

  @media (min-width: $desktop) {
    padding-right: 2px;
    gap: clamp(26px, 3.3rem, 33px);
  }
}

.site-list--background {
  @media (min-width: $desktop) {
    color: #ffffff;
  }
}

.site-list--background .site-list__item--current::after {
  @media (min-width: $desktop) {
    background-color: #ffffff;
  }
}

.site-list__item {
  position: relative;

  @media (max-width: $mobile) {
    border-bottom: 1px solid #e6e6e6;
  }
}

.site-list__item--current::after {
  @media (min-width: $tablet) {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3px;
    height: 2px;
    background-color: $color-primary;
  }
}

.site-list__link {
  display: block;
  padding: min(2.2rem, 28px) min(2.2rem, 28px) min(2.3rem, 30px);
  font-size: min(2rem, 24px);
  line-height: min(2rem, 24px);
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: $text-primary;

  @media (min-width: $tablet) {
    padding: 14px 0 12px;
    font-size: clamp(16px, 1.8rem, 22px);
    line-height: min(2.4rem, 28px);
  }

  @media (min-width: $desktop) {
    padding: 20px 0 13px;
    font-size: clamp(16px, 2rem, 24px);
    line-height: clamp(20px, 2.4rem, 30px);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--current {
    cursor: default;

    &:hover,
    &:active {
      opacity: 1;
    }
  }
}
