.social__list {
  @include list-reset;
  margin: 0 auto;
  max-width: max(13.2rem, 132px);
  display: flex;
  flex-wrap: wrap;
  gap: min(2.4rem, 36px);
  justify-content: space-between;
}

.social__link {
  width: clamp(28px, 2.8rem, 35px);
  height: clamp(22px, 2.2rem, 28px);
  background-color: $color-social;
  position: absolute;

  &--vk {
    mask-image: url("../../icons/stack.svg#social_vkontakte");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#social_youtube");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--telegram {
    mask-image: url("../../icons/stack.svg#social_telegram");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover,
  &:focus {
    background-color: $color-primary;
  }

  &:active {
    opacity: 0.3;
  }
}
