.title-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: 2px;
    top: min(1.6rem, 19px);
    left: 50%;
    background-color: $color-primary;
    transform: translateX(-50%);
    z-index: -1;

    @media (min-width: $tablet) {
      width: calc(100% + 60px);
      top: min(1.9rem, 25px);
    }

    @media (min-width: $desktop) {
      width: calc(100% + 160px);
    }
  }

  &--short::after {
    @media (min-width: $tablet) {
      //width: calc(100% + 60px);
      top: min(1.5em, 25px);
    }
  }
}
